# Connecting through JDBC #

This one's a quickie. We're going to demonstrate a connection to a PostgreSQL Database through JDBC.

In [1]:
sc

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

###!!! Putting this config in the code is unsecure, bad practice.
###!!! We're only doing it here because this database is disposable.
db_config = {
    "url" : "jdbc:mysql://dataweekends.czmtpi8cit7v.us-west-2.rds.amazonaws.com:3306/world",
    "driver" : "com.mysql.jdbc.Driver",
    "user" : "db_master",
    "password" : "lucidsalami7788**"
}

In [3]:
movies_df = spark \
    .read.format("jdbc") \
    .options(dbtable="movies", **db_config) \
    .load()
    
movies_df.head(10)

[Row(id=1, title=u'Toy Story (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=2, title=u'GoldenEye (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=3, title=u'Four Rooms (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=4, title=u'Get Shorty (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=5, title=u'Copycat (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=6, title=u'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=7, title=u'Twelve Monkeys (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=8, title=u'Babe (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=9, title=u'Dead Man Walking (1995)', release_date=datetime.date(1995, 1, 1)),
 Row(id=10, title=u'Richard III (1995)', release_date=datetime.date(1996, 1, 22))]

In [4]:
ratings_df = spark \
    .read.format("jdbc") \
    .options(dbtable="ratings", **db_config) \
    .load()

ratings_df.head(10)

[Row(id=1, user_id=196, movie_id=242, rating=3, rated_at=datetime.datetime(1997, 12, 4, 7, 55, 49)),
 Row(id=2, user_id=186, movie_id=302, rating=3, rated_at=datetime.datetime(1998, 4, 4, 11, 22, 22)),
 Row(id=3, user_id=22, movie_id=377, rating=1, rated_at=datetime.datetime(1997, 11, 6, 23, 18, 36)),
 Row(id=4, user_id=244, movie_id=51, rating=2, rated_at=datetime.datetime(1997, 11, 26, 21, 2, 3)),
 Row(id=5, user_id=166, movie_id=346, rating=1, rated_at=datetime.datetime(1998, 2, 1, 21, 33, 16)),
 Row(id=6, user_id=298, movie_id=474, rating=4, rated_at=datetime.datetime(1998, 1, 7, 6, 20, 6)),
 Row(id=7, user_id=115, movie_id=265, rating=2, rated_at=datetime.datetime(1997, 12, 3, 9, 51, 28)),
 Row(id=8, user_id=253, movie_id=465, rating=5, rated_at=datetime.datetime(1998, 4, 3, 10, 34, 27)),
 Row(id=9, user_id=305, movie_id=451, rating=3, rated_at=datetime.datetime(1998, 2, 1, 1, 20, 17)),
 Row(id=10, user_id=6, movie_id=86, rating=3, rated_at=datetime.datetime(1997, 12, 31, 13, 16, 53))]

In [5]:
genres_df = spark \
    .read.format("jdbc") \
    .options(dbtable="genres", **db_config) \
    .load()
genres_df.head(20)

[Row(id=1, name=u'Action'),
 Row(id=2, name=u'Adventure'),
 Row(id=3, name=u'Animation'),
 Row(id=4, name=u"Children's"),
 Row(id=5, name=u'Comedy'),
 Row(id=6, name=u'Crime'),
 Row(id=7, name=u'Documentary'),
 Row(id=8, name=u'Drama'),
 Row(id=9, name=u'Fantasy'),
 Row(id=10, name=u'Film-Noir'),
 Row(id=11, name=u'Horror'),
 Row(id=12, name=u'Musical'),
 Row(id=13, name=u'Mystery'),
 Row(id=14, name=u'Romance'),
 Row(id=15, name=u'Sci-Fi'),
 Row(id=16, name=u'Thriller'),
 Row(id=17, name=u'War'),
 Row(id=18, name=u'Western')]

In [6]:
genres_movies_df = spark \
    .read.format("jdbc") \
    .options(dbtable="genres_movies", **db_config) \
    .load()

genres_movies_df.head(10)

[Row(id=1, movie_id=1, genre_id=3),
 Row(id=2, movie_id=1, genre_id=4),
 Row(id=3, movie_id=1, genre_id=5),
 Row(id=4, movie_id=2, genre_id=1),
 Row(id=5, movie_id=2, genre_id=2),
 Row(id=6, movie_id=2, genre_id=16),
 Row(id=7, movie_id=3, genre_id=16),
 Row(id=8, movie_id=4, genre_id=1),
 Row(id=9, movie_id=4, genre_id=5),
 Row(id=10, movie_id=4, genre_id=8)]

## Exercise 1 ###
- How many rows are there in the movies table?
- What columns does the table have?


- Create a UDF and add columns for
    - release year
    - release month
    - title length (in characters)


- How many movies were released in each year? Graph the result.
- How many movies were released in each month? Graph the result. Are some months busier times for the movie industry?

In [48]:
print(movies_df.count())

print(movies_df.columns)

print(movies_df.dtypes)

from pyspark.sql.functions import udf
from pyspark.sql.types import DateType

import datetime

#Create the conversion function
def release_year(x):
    return int(x.year)

    

#assert release_year(datetime.datetime(1984, 1, 1, 0, 0)) 

#Wrap it as a sparkSQL udf
#release year
release_year_udf = udf(release_year, DateType()) #, TimestampType())


movies_df2 = movies_df \
    .where(movies_df.release_date.isNotNull())\
    .withColumn('release_year', release_year_udf(movies_df.release_date))
    
movies_df2.select('release_year').show(20)


#release month
def release_month(x):
    return int(x.month)

release_month_udf = udf(release_month, DateType()) #, TimestampType())


movies_df2 = movies_df \
    .where(movies_df.release_date.isNotNull())\
    .withColumn('release_month', release_year_udf(movies_df.release_date))
    
movies_df2.select('release_month').show(20)

#title length

def title_length(x):
    return len(x)

release_month_udf = udf(title, StringType()) #, TimestampType())


movies_df2 = movies_df \
    .where(movies_df.release_date.isNotNull())\
    .withColumn('title_len', title_length(movies_df.title))
    
movies_df2.select('title_len').show(20)

1682
['id', 'title', 'release_date']
[('id', 'int'), ('title', 'string'), ('release_date', 'date')]

Py4JJavaError: An error occurred while calling o1369.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 107.0 failed 1 times, most recent failure: Lost task 0.0 in stage 107.0 (TID 107, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 174, in main
    process()
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 169, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 106, in <lambda>
    func = lambda _, it: map(mapper, it)
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 92, in <lambda>
    mapper = lambda a: udf(*a)
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 68, in <lambda>
    return lambda *a: toInternal(f(*a))
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/sql/types.py", line 172, in toInternal
    return d.toordinal() - self.EPOCH_ORDINAL
AttributeError: 'int' object has no attribute 'toordinal'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:144)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:87)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:796)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:796)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:333)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset$$anonfun$org$apache$spark$sql$Dataset$$execute$1$1.apply(Dataset.scala:2371)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2765)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$execute$1(Dataset.scala:2370)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collect(Dataset.scala:2377)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2113)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2112)
	at org.apache.spark.sql.Dataset.withTypedCallback(Dataset.scala:2795)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2112)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2327)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:248)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 174, in main
    process()
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 169, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 106, in <lambda>
    func = lambda _, it: map(mapper, it)
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 92, in <lambda>
    mapper = lambda a: udf(*a)
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 68, in <lambda>
    return lambda *a: toInternal(f(*a))
  File "/Users/ceoxxx/spark/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/sql/types.py", line 172, in toInternal
    return d.toordinal() - self.EPOCH_ORDINAL
AttributeError: 'int' object has no attribute 'toordinal'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:144)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:87)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:796)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:796)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

### Exercise 2 ###
Join across Movies and ratings. [http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame](http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame)

- What is the distribution of ratings across movies?
- What are the 20 highest-rated movies? The lowest?
- What is the distribution of ratings across release months?

### Exercise 3 ###
Join movies and genres through the genres_movies dataframe.

- How many movies exist in each genre?
- Does the ranking of common genres change by year? By month?